TELEGRAM_BOT_TOKEN=
TELEGRAM_STORAGE_CHAT_ID=
TELEGRAM_API_BASE_URL=https://api.telegram.org
TELEGRAM_MAX_UPLOAD_BYTES=52428800
P2P_PLATFORM_USDT_ADDRESS=TZ7XRNtbhznky43JwgBMPFNFm4KMNRLRei
P2P_PAYOUT_PRIVATE_KEY=
P2P_COMMISSION_RATE=0.02
TRONGRID_API_KEY=
TRONGRID_FULL_HOST=https://api.trongrid.io
RESEND_API_KEY=
